---
import Layout from "./Layout.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  ogImage?: string;
  ogType?: string;
}

const { 
  title = "Nicolas THAI - Projet", 
  description = "Découvrez ce projet",
  keywords,
  ogImage,
  ogType
} = Astro.props;
---

<Layout 
  title={title} 
  description={description}
  keywords={keywords}
  ogImage={ogImage}
  ogType={ogType}
>
  <ViewTransitions />
  <main class="w-full h-screen overflow-hidden">
    <slot />
  </main>
</Layout>
